body {
  background-color: lightgray;
  font-family: 'Times New Roman', serif;
}

.calculators {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  margin-top: 3.5%;
  margin-left: 25%;
  gap: 30px;
  width: 50%;
}